<script src="../public/js/home.js"></script>
<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to Dev Confluence</h1>
    <p class="lead text-center">Explore | Attend | Connect</p>
    <hr class="my-4">
  </div>
  <h2 class="mb-4">All Meetups</h2>
  <div class="row">
    {{#each events}}
    <div class="col-md-4 mb-4">
      <div class="custom-card">
        {{#if this.displayPicture}}
        <img class="custom-card-image" src={{this.displayPicture}} alt={{this.title}}>
        {{else}}
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" class="custom-card-image"
          alt="Event Picture Not Available">
        {{/if}}
        <div class="custom-card-body">
          <div class="custom-card-left-block">
            <div class="custom-card-title">{{this.title}}</div>
            <div class="custom-card-location">
              <i class="fa-solid fa-location-dot location-icon" style="color: #f76e40;"></i>
              {{this.location}}
            </div>
          </div>
          <div class="custom-card-right-block">
            <div class="custom-card-date">{{this.eventDate}}</div>
            <div class="custom-card-time">{{this.eventTime}}</div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>