<script src="../public/js/home.js"></script>
<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to Dev Confluence</h1>
    <p class="lead text-center">Explore | Attend | Connect</p>
    <hr class="my-4">
  </div>
  <h2 class="mb-4">All Meetups</h2>
  <div class="row">
    {{#each events}}
    
    <div class="col-md-6 mb-6">
      <a href="/events/{{this._id}}">
        <div class="custom-card">
    {{#if this.displayPicture}}
    <img class="custom-card-image"  src={{this.displayPicture}} alt={{this.title}}>
    {{else}}
    <img class="custom-card-image"  src="https://source.unsplash.com/random/200x400?sig={{@index}}" alt={{this.title}}>
    {{!-- Todo remove above just to showcase some image --}}
    {{!-- <img class="custom-card-image"  src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Comic_image_missing.svg" alt={{this.title}}> --}}

    {{/if}}
    <div class="custom-card-body">
    <div class="custom-card-left-block">
        <div class="custom-card-title">{{this.title}}</div>
        <div class="custom-card-location">
        <i class="fa-solid fa-location-dot location-icon" style="color: #f76e40;"></i>
        {{this.location}}
        {{!-- Hoboken --}}
        </div>
    </div>
    <div class="custom-card-right-block">
      
        <div class="custom-card-time">{{this.eventTime}}</div>
    </div>
  
    {{!-- <div class="row">
        <div class="col">
          <div class="custom-card-date">{{this.eventDate}}</div>
        </div>
        
      </div> --}}
    </div>
    </div>
  </a>
</div>
{{!-- 
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <a href="/events/{{this._id}}">
          {{#if this.displayPicture}}
          <img src="{{this.displayPicture}}" class="card-img-top event-img" alt="{{this.title}}">
          {{else}}
          <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
            class="card-img-top event-img" alt="Event Picture Not Available">
          {{/if}}
          <div class="card-body">
            <p class="card-title text-center event-title-home">{{this.title}}</p>
          </div>
        </a>
      </div>
    </div> --}}
    {{/each}}
  </div>
</div>
