<div class="custom-card-container" data-custom-state="#about">
  <div class="custom-card-header-container">
    <div class="custom-card-cover-container"
      style="background-image: url('{{user.profilePicture}}')"></div>
    <img class="custom-card-avatar-container" src="{{user.profilePicture}}" alt="avatar" />
    <h1 class="custom-card-fullname-container">{{user.firstName}} {{user.lastName}}</h1>
  </div>
  <div class="custom-card-main-container">
    <div class="custom-card-section-container is-active" id="about">
      <div class="custom-card-content-container">
        <p class="custom-card-desc-container">
          {{#if user.email}}
          <div class="mb-3">
            <span class="text-muted">Email:</span>
            {{user.email}}
          </div>
          {{/if}}
          <div class="mb-3">
            <div class="mb-3">
              <span class="text-muted">Username:</span>
              {{user.username}}
            </div>
            {{#if user.dob}}
            <div class="mb-3">
              <span id="date" class="text-muted">Date of birth:</span>
              {{user.dob}}
            </div>
            {{/if}}
            <div class="mb-3">
              <span class="text-muted">Bio:</span>
              {{user.bio}}
            </div>
            <div class="mb-3">
              <span class="text-muted">Location:</span>
              {{user.location}}
            </div>
            <div class="mb-3">
              <span class="text-muted">Joined:</span>
              {{user.createdAt}}
            </div>
            {{#if (eq currentUser.username user.username)}}
            <a href="/auth/logout">
              <button class="logout-button">Logout</button>
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>